body {
    display: flex;
}
#mainDiv {
  border-style: solid;
  /*border-color: black; */
  display: flex;
  flex-direction: row;
}
.div {

    /*border-style: solid;
    border-color: red;*/ 
    display: flex;
}
.container {
    /*color: blue;*/
    
}
.container2 {
    border-style: solid;
    border-color: red;
    background-color: pink;
}